// Variables
$first_color: #fdf7f2;
$second_color:#94B49F;
$third_color:#DF7861;
$fourth_color:#354259;
$fifth_color: #576F72;

//‌Imports
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Arabic:wght@400&display=swap');

// Styles
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: $first_color;
    font-family: sans-serif;
}

li{
    list-style: none;
}
.container{
    max-width: 720px;
    margin: 0 auto;
    padding: 0 8px;
}

header{
    max-width: 100vw;
    height: 4rem;
    background-color: $second_color;
    color: $first_color;
    border-bottom: 2px dashed $fifth_color;
    .container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .logo{
            width: 120px;
            height: 4rem;
            display: flex;
            align-items: center;
            a{
                color: $fifth_color;
                font-weight: bolder;
                text-decoration: none;
            }
            img{
                width: 24px;
                height: 24px;
                margin-left: 0.5rem;
            }
        }
        .links{
            width: 550px;
            height: 4rem;
            display: flex;
            .links-child{
                height: 4rem;
                padding-left: 1rem;
                display: flex;
                align-items: center;
            }
            a{
                color: $first_color;
            }
        }
        .github_icon a,.github_icon{
            width: 64px;
            height: 4rem;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}



//Media Queries
    // Temporarily FIX FOR SMALL SCREENS
    @media only screen and (max-width: 1024px) {
    }


@media only screen and (min-width: 0px) {
}
@media only screen and (min-width: 640px) {
}
@media only screen and (min-width: 768px) {
}
@media only screen and (min-width: 1024px) {
}
@media only screen and (min-width: 1280px) {
}
@media only screen and (min-width: 1536px) {
}
