// Variables
$first_color: #fdf7f2;
$second_color:#94B49F;
$third_color:#DF7861;
$fourth_color:#354259;
$fifth_color: #576F72;

//‌Imports
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Arabic:wght@400&display=swap');

// Styles



//Media Queries
@media only screen and (min-width: 0px) {
}
@media only screen and (min-width: 640px) {
}
@media only screen and (min-width: 768px) {
}
@media only screen and (min-width: 1024px) {
}
@media only screen and (min-width: 1280px) {
}
@media only screen and (min-width: 1536px) {
}
