{{ define "main" }}
  <div class="posts_page">
    <ul>
      {{ range .Pages }}
        <li>
          {{if .Params.Language | eq "fa"}}
            <div class="post fa">
              <div class="post_release_date">
                ({{ .Date.Format "2006 01 2" }}) -
              </div>
              <div class="post_title">
                <a href="{{ .Permalink }}">[ {{ .Params.post_title  }} ]</a>
              </div>
              {{/*  <div class="post_summary">
                <p>{{.Summary}} <a href="{{ .Permalink }}">Full Article</a></p>
              </div>  */}}
            </div>
          {{else if .Params.Language | eq "en"}}
            <div class="post en">
              <div class="post_release_date">
                - ( {{ .Date.Format "2006 01 2" }} )
              </div>
              <div class="post_title">
                <a href="{{ .Permalink }}">[ {{ .Params.post_title }} ]</a>
              </div>
              {{/*  <div class="post_summary">
                <p>{{.Summary}} <a href="{{ .Permalink }}">Full Article</a></p>
              </div>  */}}
            </div>
          {{end}}
        </li>
      {{ end }}
    </ul>
  </div>
{{ end }}