<header>
    <nav>
        <div class="logo">
            <a href="/">Torbatti</a>
        </div>
        <div class="links">
            <a class="links_child" href="/about/">About</a>
            <a class="links_child" href="/posts/">Blog</a>
            <a class="links_child" href="/links/">Links</a>
        </div>
        <div class="github_icon">
            <a href="https://github.com/Torbatti/torbatti.github.io">
                {{ $asset := resources.Get "/GitHub-Mark-Light-32px.png" }}
                {{ $img := $asset.Fit "32x32" }}
                <img alt="Github Logo" src="{{ $img.RelPermalink }}" />
            </a>
        </div>
    </nav>
</header>