// Variables
$first_color: #fdf7f2;
$second_color:#94B49F;
$third_color:#DF7861;
$fourth_color:#354259;
$fifth_color: #576F72;

//‌Imports

//Styles
.links_page{
    margin-top: 20px;
    
    @media only screen and (min-width: 0px) {}
    @media only screen and (min-width: 640px) {display: flex; flex-direction: column;}
    @media only screen and (min-width: 1024px) {display: flex;flex-direction: row; flex-wrap: wrap;row-gap: 10px;justify-content: space-between;}

    
    .links_section{    
        @media only screen and (min-width: 0px) {margin: 25px 0;}
        @media only screen and (min-width: 640px) {margin: 25px 0;}
        @media only screen and (min-width: 1024px) {margin: 0px 0;}      
        a{
            p{            
                border-left: 2px solid $fifth_color;
                @media only screen and (min-width: 0px) {padding: 0 10px;}
                @media only screen and (min-width: 640px) {padding: 10px 20px;margin:10px;}
                @media only screen and (min-width: 1024px) {padding: 20px 20px;}
                
                @media only screen and (min-width: 0px) {}
                @media only screen and (min-width: 640px) {}
                @media only screen and (min-width: 1024px) {display: flex;justify-content: center;align-items: center;}
                
            }
            color: $fifth_color;
            text-decoration: none;
            :hover{
                background-color: $second_color;
                color: $first_color;
            }
        }
    }
}


@media only screen and (min-width: 0px) {}
@media only screen and (min-width: 640px) {}
@media only screen and (min-width: 1024px) {}
