{{ define "main" }}
    <div class="links_page">
        <div class="links_section">
            <p>Main Links</p>
            <a href="/"><p>Home</p></a>
            <a href="/about/"><p>About</p></a>
            <a href="/posts/"><p>Blog</p></a>
            <a href="/links/"><p>Links</p></a>
        </div>

        <div class="links_section">
            <p>Critics</p>
            <a href="/books/"><p>Books</p></a>
            <a href="/TODO/"><p>Movies</p></a>
            <a href="/TODO/"><p>Games</p></a>
        </div>

        <div class="links_section">
            <p>Programming Related</p>
            <a href="/p_lang/"><p>Programming Languages</p></a>
            <a href="/TODO/"><p>Graphite Editor Journey</p></a>
        </div>
        
        <div class="links_section">
            <p>Entertainments</p>
            <a href="/TODO/"><p>Arts</p></a>
            <a href="/TODO/"><p>Languages</p></a>
        </div>

    </div>
{{ end }}