{{ define "main" }}
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about/">About</a></li>
        <li><a href="/posts/">Blog</a></li>

        <li><a href="/links/">Links</a></li>

        <li><a href="/books/">Books</a></li>
        <li><a href="/mangas/">Mangas</a></li>

        <li><a href="/mangas/">Animes</a></li>
        <li><a href="/mangas/">Movies</a></li>

        <li><a href="/mangas/">Languages</a></li>
        <li><a href="/mangas/">Programming Languages</a></li>

    </ul>
{{ end }}