{{ define "main" }}
    <div class="links_page">
        <div class="links_section">
            <a href="/"><p>Home</p></a>
            <a href="/about/"><p>About</p></a>
            <a href="/posts/"><p>Blog</p></a>
            <a href="/links/"><p>Links</p></a>
        </div>

        <div class="links_section">
            <a href="/books/"><p>Books</p></a>
            <a href="/mangas/"><p>Mangas</p></a>
        </div>

        <div class="links_section">
            <a href="/TODO/"><p>Movies</p></a>
            <a href="/TODO/"><p>Animes</p></a>
        </div>

        <div class="links_section">
            <a href="/TODO/"><p>Programming Languages</p></a>
        </div>
        <div class="links_section">
            <a href="/TODO/"><p>Arts</p></a>
            <a href="/TODO/"><p>Games</p></a>
            <a href="/TODO/"><p>Languages</p></a>
        </div>

    </div>
{{ end }}